@import url(http://fonts.googleapis.com/css?family=Lato:900,700,400,400italic,300,100);
@import url(http://fonts.googleapis.com/css?family=Roboto:900,300,100);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,900italic,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,700italic,300,300italic,400italic,500,500italic,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,80italic,400,300,600,700,800);
/*    font (size, weight, height, color)     */
/*    +meri(.6, 100, 1.6, $notBlack)           */
/* font-family variables */
/* weight */
/* font mixins :::: example ::::: +roboto(1.5, 100, .8, $white)  */
/* ******* FONT FAMILY USAGE DEFINITIONS ******* */
html, body {
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6,
p,
blockquote,
ol,
ul {
  margin: 0;
  padding: 0; }

header, hgroup, section, main, article, aside, canvas,
video, figure, figcaption, li {
  margin: 0;
  padding: 0;
  display: block; }

li {
  float: left; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  transition: 0.3s; }

a {
  text-decoration: none; }

button, input, label, select, textarea {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

::focus {
  outline: 0; }

::selection {
  background: yellow; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: border-box; }

/* ==== GRID SYSTEM ==== */
.wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.wrapper:first-of-type {
  margin-top: 0%; }

.row {
  position: relative;
  width: 100%; }

/* ******************************************** */
/* MARGINS ABOVE 768px */
.row [class^="col"] {
  float: left;
  margin: 2% 2%;
  min-height: 1px; }

/* MARGINS BELOW 768px */
@media only screen and (max-width: 768px) {
  .row [class^="col"] {
    margin: 2% 2%; } }
/* no vertical margin on push 'spacers' */
.row [class^="col-push"] {
  float: left;
  margin: 0% 2%;
  min-height: 1px; }

/* ******************************************** */
/* full width on mobile */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-push-1,
.col-push-2,
.col-push-3,
.col-push-4,
.col-push-5,
.col-push-6,
.col-push-7,
.col-push-8,
.col-push-9,
.col-push-10,
.col-push-11,
.col-push-12 {
  width: 96%; }

/* grid for mobile */
.col-1-sm {
  width: 4.33%; }

.col-2-sm {
  width: 12.66%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33%; }

.col-5-sm {
  width: 37.66%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33%; }

.col-8-sm {
  width: 62.66%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33%; }

.col-11-sm {
  width: 87.66%; }

.col-12-sm {
  width: 96%; }

/* ******************************************** */
/* clearfix */
.row:after {
  content: "";
  display: table;
  clear: both; }

/* hide on mobile */
.hide-sm {
  display: none; }

/* ******************************************** */
/* switch from mobile first to 768px and above */
/* ******************************************** */
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 4.33%; }

  .col-push-1 {
    width: 4.33%; }

  .col-push-1:before, .col-push-1:after {
    content: ""; }

  .col-2 {
    width: 12.66%; }

  .col-push-2 {
    width: 12.66%; }

  .col-push-2:before, .col-push-2:after {
    content: ""; }

  .col-3 {
    width: 21%; }

  .col-push-3 {
    width: 21%; }

  .col-push-3:before, .col-push-3:after {
    content: ""; }

  .col-4 {
    width: 29.33%; }

  .col-push-4 {
    width: 29.33%; }

  .col-push-4:before, .col-push-4:after {
    content: ""; }

  .col-5 {
    width: 37.66%; }

  .col-push-5 {
    width: 37.66%; }

  .col-push-5:before, .col-push-5:after {
    content: ""; }

  .col-6 {
    width: 46%; }

  .col-push-6 {
    width: 46%; }

  .col-push-6:before, .col-push-6:after {
    content: ""; }

  .col-7 {
    width: 54.33%; }

  .col-push-7 {
    width: 54.33%; }

  .col-push-7:before, .col-push-7:after {
    content: ""; }

  .col-8 {
    width: 62.66%; }

  .col-push-8 {
    width: 62.66%; }

  .col-push-8:before, .col-push-8:after {
    content: ""; }

  .col-9 {
    width: 71%; }

  .col-push-9 {
    width: 71%; }

  .col-push-9:before, .col-push-9:after {
    content: ""; }

  .col-10 {
    width: 79.33%; }

  .col-push-10 {
    width: 79.33%; }

  .col-push-10:before, .col-push-10:after {
    content: ""; }

  .col-11 {
    width: 87.66%; }

  .col-push-11 {
    width: 87.66%; }

  .col-push-11:before, .col-push-11:after {
    content: ""; }

  .col-12 {
    width: 96%; }

  .col-push-12 {
    width: 96%; }

  .col-push-12:before, .col-push-12:after {
    content: ""; }

  .hide-sm {
    display: block; } }
/* ******************************************** */
/* set maximum wrapper width to 1175px */
/* ******************************************** */
@media only screen and (min-width: 1175px) {
  .wrapper {
    width: 90%;
    max-width: 1175px; } }
#size {
  position: absolute;
  top: 0;
  right: 3px;
  font-family: "Merriweather", serif;
  font-size: 1.3px;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1;
  line-height: 1;
  color: #333333; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 767px) and (min-width: 1px) {
    html {
      font-size: 90%; } }
  @media screen and (max-width: 1099px) and (min-width: 768px) {
    html {
      font-size: 92.5%; } }
  @media screen and (max-width: 1599px) and (min-width: 1100px) {
    html {
      font-size: 95%; } }
  @media screen and (max-width: 10000px) and (min-width: 1600px) {
    html {
      font-size: 125%; } }

body {
  font-size: 1.6em;
  font-family: "Helvetica Neue", sans-serif, sans-serif;
  line-height: 0.8;
  margin: 0;
  padding: 0;
  background-color: #fbfbfb; }
